<footer>
	<div class="footer">
			<div class="container">
				<div class="row">
					<!-- 聯絡資訊 -->
					<div class="col-md-4">
						<h3>關於我們</h3>
						<ul class="conta">
							<li><i class="fa fa-map-marker" aria-hidden="true"></i> 地址</li>
							<li><i class="fa fa-mobile" aria-hidden="true"></i> 03
								4501234</li>
							<li><i class="fa fa-envelope" aria-hidden="true"></i><a
								href="#"> Joyfulresort@gmail.com</a></li>
						</ul>
					</div>
					<!-- 導航連結 -->
					<div class="col-md-4">
						<h3>目錄</h3>
						<ul class="link_menu">
							<li class="active"><a href="#">首頁</a></li>
							<li><a href="about.html">關於我們</a></li>
							<li><a href="room.html">房型</a></li>
							<li><a href="gallery.html">導覽</a></li>
							<li><a href="blog.html">報導</a></li>
							<li><a href="contact.html">聯絡我們</a></li>
						</ul>
					</div>
					<!-- 最新消息與社交媒體連結 -->
					<div class="col-md-4">
						<h3>最新消息</h3>
						<form class="bottom_form">
							<input class="enter" placeholder="電子郵件" type="text"
								name="Enter your email">
						</form>
						<ul class="social_icon">
							<li><a href="#"><i class="fa fa-facebook"
									aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"
									aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 版權聲明 -->
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-10 offset-md-1">
							<p>
								© 2019 All Rights Reserved. Design by <a
									href="https://html.design/">Free Html Templates</a><br>
								<br>Distributed by <a href="https://themewagon.com/"
									target="_blank">ThemeWagon</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer 結束 -->
