
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">
<meta th:charset="UTF-8">

<!-- 引入 Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/frontend/css/bootstrap.min.css}">
<!-- 網站主要樣式表 -->
<link rel="stylesheet" th:href="@{/frontend/css/style.css}">
<link rel="stylesheet" th:href="@{/frontend/css/my.css}">
<!-- 響應式樣式表 -->
<link rel="stylesheet" th:href="@{/frontend/css/responsive.css}">
<!-- 自定義滾動條樣式 -->
<link rel="stylesheet"
	th:href="@{/frontend/css/jquery.mCustomScrollbar.min.css}">
<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
	media="screen">

<!-- 引入 Bootstrap 和 jQuery -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">

<link rel=" stylesheet" th:href="@{/frontend/css/title.css}">

<!--        頁首連結用的 -->