<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<base th:href="@{/}">
<head>
    <meta charset="UTF-8">
    <title>Joyfulresort 後臺首頁</title>
    <link th:insert="~{/back-end/htmlfile/css.html}"/>
    
</head>
<body>
    <th:block th:insert="~{/back-end/htmlfile/content1}"/>
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light rounded">
            <div class="G3_content">
            <h1>oops!出了點問題</h1>
            <h2>點擊圖片回去</h2>
		<a href="javascript:history.back()">
              <img class=""  th:src="@{backend/picture/404.jpg}" alt="" style="width: 1000px; height: 600px;">
           </a>
            </div>
        </div>
    </div>
    <th:block th:insert="~{/back-end/htmlfile/content2}"/>
    <th:block th:insert="~{/back-end/htmlfile/script}"/>
</body>

</html>