<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<base th:href="@{/}">
<head>
<meta charset="UTF-8">
<title>My Page</title>
<link th:insert="~{/front-end/htmlfile/css.html}" />
<!--  <script th:src="@{/webjars/jquery/jquery.min.js}"></script> -->
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
 <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
 
 

<style>
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
}



h2 {
	text-align: center;
	color: #333;
}

form {
	padding-top:10px;
	display: flex;
	flex-direction: column;
	/*     align-items: center; /* 水平居中對齊 */
	justify-content: center; /* 垂直居中對齊 */
	width: 250px;
	margin: 0 auto; /* 左右居中 */
}

label {
	margin-top: 10px;
}

input {
	padding: 5px;
 	margin-bottom:20px; 
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 80px;

	
}
textarea{
width: 200px;
height: 200px;
}

button {
	padding: 10px;
	margin-top: 20px;
	background-color: #0056b3;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #004494;
}

.flatpickr-calendar.inline {
    position: absolute;
  	 top: 70%;
    left: 50%;
}
</style>


</head>

<body class="main-layout">


	<th:block link th:insert="~{/front-end/htmlfile/content1.html}" />
	<div th:fragment="content">
		<div class="news-section">
			<div class="container"  style="display: flex;">
				<!-- 東西從這裡放 -->
				 

				<div style="flex: 1; padding-left: 300px;">
					<form th:action="@{/insertfront}" method="post"
					th:object="${resVO}" enctype="multipary/form-data">

					<!-- 				    <label for="">餐廳訂單編號:</label> -->
					<!-- 				    <input type="text" th:field="*{reserveOrderId}"  ><br><br> -->
					
					<label for="">餐廳場次編號:</label>
					<input type="text" id="sessionid"
						th:field="*{ressionVO.reserveSessionId}" 
						style="background-color: lightgray ">
						
					 <label for="">會員編號:</label>
					<input type="text" th:field="*{memberVO.memId}" >
					
									
		
					
					<label for="reserveNumber">預定人數:(最多20人)</label> 
     			   <input type="number" th:field="*{reserveNumber}" id="reserveNumber" name="reserveNumber" min="1" max="20">
 
     <script>
        document.getElementById('reserveNumber').addEventListener('input', function() {
            var reserveNumber = parseInt(this.value, 10);
            if (isNaN(reserveNumber) || reserveNumber < 1) {
            	reserveNumber = 1;
            } else if (reserveNumber > 20) {
            	reserveNumber = 20;
            }
            this.value = reserveNumber;
        });
    </script>    			   
     			   
					 <label for="">預定日期:</label>
					
      				 <input type="datetime-local" th:field="*{bookingDate}" id="bookingDate"  name="bookingDate" 
      				 disabled style="width: 170px">
					<div id="error" style="color: red;" > </div>
					
<script type="text/javascript">



flatpickr("#bookingDate", {
    enableTime: true, 
    dateFormat: "Y-m-d H:i",
    time_24hr: true,
	minTime : "10:00",
	maxTime : "20:00",
// 	inline: true ,
	minDate : new Date().fp_incr(3),
	maxDate : new Date().fp_incr(60),
	 minuteIncrement: 60,


	});


$('#bookingDate').change(function() {
    var selectedDate = $(this).val();
    var selectedNumber = $('#reserveNumber').val(); // 獲取選擇的人數值
    checkAvailability(selectedDate,selectedNumber);
 
});

$('#reserveNumber').change(function() {
    var selectedDate = $('#bookingDate').val();
    var selectedNumber = $(this).val();
    checkAvailability(selectedDate, selectedNumber);
});


function checkAvailability(bookingDate,reserveNumber) {
    $.ajax({
        url: '/total',
        type: 'POST',
        data: { bookingDate: bookingDate },
        success: function(response) {
        	 // 將後端返回的總人數與前端所選擇的人數相加
            var totalNumber = response + parseInt(reserveNumber);
            // 檢查總人數是否超過 100
            if (totalNumber > 100) {
                // 超過則禁止選擇這個時間
                $('#error').text('此時段預定已滿，請選擇其他時段').show();
                $('#bookingDate').prop('disabled', true); // 禁用日期時間欄位
            } else {
                $('#error').hide();
                $('#bookingDate').prop('disabled', false); // 啟用日期時間欄位
            }
        }
    });
}

// 判斷有人數才能選擇時間 

        $(document).ready(function () {
            $('#reserveNumber').on('input', function () {
                var reserveNumber = $(this).val();
                if (reserveNumber.trim() !== '') {
                    $('#bookingDate').prop('disabled', false);
                } else {
                    $('#bookingDate').prop('disabled', true);
                }
            });
        });
        
</script>

					 <label for="">備註:</label>

					<textarea id="orderNote" th:field="*{orderNote}" maxlength="100"	style="max-height: 150px;">	</textarea>
					
					<br><button type="submit" id="submit">送出</button>
						
						
					<!--  <label for="">訂單狀態:</label> -->
					<input type="hidden" th:field="*{reserveOrderState}"><br><br>
					<!-- <label for="">訂單日期:</label>  -->
					<input  type="hidden"
						th:field="*{reserveOrderDate}">
						<br><br>
			
					</form>
				</div>




					<div   style="flex: 1; padding-right: 100px;">
						<div ><label ></label></div>
					</div>
				</div>
			</div>
		</div>
	 

<!-- 	<th:block link th:insert="~{/front-end/htmlfile/content2.html}" /> -->
	<th:block link th:insert="~{/front-end/htmlfile/script.html}" />
</body>



</html>